

NET "CLK1" LOC = P129;
NET "BRD_ID[2]" LOC = P112;
NET "BRD_ID[1]" LOC = P123;
NET "BRD_ID[0]" LOC = P80;
NET "RESET_N" LOC = P58;


NET "D2" LOC = P51;
NET "TP32" LOC = P76;
NET "TP33" LOC = P78;
NET "TP29" LOC = P134;
NET "ALE" LOC = P140;
NET "TP31" LOC = P75;


NET "D2" IOSTANDARD = LVCMOS33;
NET "RESET_N" IOSTANDARD = LVCMOS33;
NET "TP29" IOSTANDARD = LVCMOS33;
NET "CLK1" IOSTANDARD = LVCMOS33;
NET "ALE" IOSTANDARD = LVCMOS33;
NET "BRD_ID[2]" IOSTANDARD = LVCMOS33;
NET "BRD_ID[1]" IOSTANDARD = LVCMOS33;
NET "BRD_ID[0]" IOSTANDARD = LVCMOS33;
NET "TP31" IOSTANDARD = LVCMOS33;
NET "TP32" IOSTANDARD = LVCMOS33;
NET "TP33" IOSTANDARD = LVCMOS33;


NET "BRD_ID[2]" PULLUP;
NET "BRD_ID[1]" PULLUP;
NET "BRD_ID[0]" PULLUP;


NET "D3" IOSTANDARD = LVCMOS33;
NET "D4" IOSTANDARD = LVCMOS33;


NET "D3" LOC = P50;
NET "D4" LOC = P68;



NET "TP28" LOC = P142;


NET "TP28" IOSTANDARD = LVCMOS33;

# PlanAhead Generated IO constraints 

NET "TP31" PULLUP;
